# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.toml]
max_line_length = 100

[*.md]
trim_trailing_whitespace = false

[layouts/shortcodes/*.html]
insert_final_newline = false

<iframe height="430" width="350" src="https://bot.dialogflow.com/b34f7a49-3124-4968-97b8-826b904e6a37"></iframe>